.a-h1
    typography($h1)
    rhythm($h1, fnAdjustLineHeight($h1.fontSize, 1.125) * $h1.fontSize)

.a-h2
    typography($h2)
    rhythm($h2, fnAdjustLineHeight($h2.fontSize, 1.125) * $h2.fontSize)

.a-h3
    typography($h3)
    rhythm($h3, fnAdjustLineHeight($h3.fontSize, 1.125) * $h3.fontSize)

.a-h4
    typography($h4)
    rhythm($h4, fnAdjustLineHeight($h4.fontSize, 1.125) * $h4.fontSize)

.a-h5
    typography($h5)
    rhythm($h5, fnAdjustLineHeight($h5.fontSize, 1.125) * $h5.fontSize)

.a-h6
    typography($h6)
    rhythm($h6, fnAdjustLineHeight($h6.fontSize, 1.125) * $h6.fontSize)

.a-subtitle1
    typography($subtitle1)
    rhythm($subtitle1, fnAdjustLineHeight($subtitle1.fontSize, 1.125) * $subtitle1.fontSize)

.a-subtitle2
    typography($subtitle2)
    rhythm($subtitle2, fnAdjustLineHeight($subtitle2.fontSize, 1.125) * $subtitle2.fontSize)

.a-body1
    typography($body1)
    rhythm($body1, fnAdjustLineHeight($body1.fontSize, 1.4) * $body1.fontSize)

.body2
    typography($body2)
    rhythm($body2, fnAdjustLineHeight($body2.fontSize, 1.4) * $body2.fontSize)

$button-typography
    typography($button)
    rhythm($button, fnAdjustLineHeight($button.fontSize, 1.125) * $button.fontSize)

.a-caption
    typography($caption)
    rhythm($caption, fnAdjustLineHeight($caption.fontSize, 1.125) * $caption.fontSize)

.a-overline
    typography($overline)
    rhythm($overline, fnAdjustLineHeight($overline.fontSize, 1.125) * $overline.fontSize)
