doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		//- link(rel="icon" href="<%= BASE_URL %>favicon.ico")
		title ALOS MD
		link(rel="stylesheet" href="test.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons")
	body
		.h1 H1
		.h2 H2
		.h3 H3
		.h4 H4
		.h5 H5
		.h6 H6
		.subtitle1 Subtitle 1
		.subtitle2 Subtitle 2
		.body1 Body 1
		.body2 Body 2
		.test-button-text Button
		.caption Caption
		.overline Overline

		.typography-overlay
			.typography-overlay__h1
			.typography-overlay__h2
			.typography-overlay__h3
			.typography-overlay__h4
			.typography-overlay__h5
			.typography-overlay__h6
