fnLetterSpacing(tracking, fontSize)
    (tracking/fontSize)rem

fnRemFontSize(fontSize)
    $font-ratio * fontSize

fnFontShift(lineHeight, capHeight, fontSize)
    (lineHeight - (capHeight * fontSize)) / 2
