@import 'index'

.test-button-text
    @extend $button-typography

.typography-overlay
    fixed top left
    width 100vw
    height 100vh

    .typography-overlay__h1
        height 96px
        box-sizing border-box
        border-bottom 1px solid red
