.h1
    font-family $h1-font-family
    font-weight $h1-font-weight
    font-size fnRemFontSize($h1-font-size)
    text-transform $h1-text-transform
    letter-spacing fnLetterSpacing($h1-letter-spacing, $h1-font-size)

.h2
    font-family $h2-font-family
    font-weight $h2-font-weight
    font-size fnRemFontSize($h2-font-size)
    text-transform $h2-text-transform
    letter-spacing fnLetterSpacing($h2-letter-spacing, $h2-font-size)

.h3
    font-family $h3-font-family
    font-weight $h3-font-weight
    font-size fnRemFontSize($h3-font-size)
    text-transform $h3-text-transform
    letter-spacing fnLetterSpacing($h3-letter-spacing, $h3-font-size)

.h4
    font-family $h4-font-family
    font-weight $h4-font-weight
    font-size fnRemFontSize($h4-font-size)
    text-transform $h4-text-transform
    letter-spacing fnLetterSpacing($h4-letter-spacing, $h4-font-size)

.h5
    font-family $h5-font-family
    font-weight $h5-font-weight
    font-size fnRemFontSize($h5-font-size)
    text-transform $h5-text-transform
    letter-spacing fnLetterSpacing($h5-letter-spacing, $h5-font-size)

.h6
    font-family $h6-font-family
    font-weight $h6-font-weight
    font-size fnRemFontSize($h6-font-size)
    text-transform $h6-text-transform
    letter-spacing fnLetterSpacing($h6-letter-spacing, $h6-font-size)

.subtitle1
    font-family $subtitle1-font-family
    font-weight $subtitle1-font-weight
    font-size fnRemFontSize($subtitle1-font-size)
    text-transform $subtitle1-text-transform
    letter-spacing fnLetterSpacing($subtitle1-letter-spacing, $subtitle1-font-size)

.subtitle2
    font-family $subtitle2-font-family
    font-weight $subtitle2-font-weight
    font-size fnRemFontSize($subtitle2-font-size)
    text-transform $subtitle2-text-transform
    letter-spacing fnLetterSpacing($subtitle2-letter-spacing, $subtitle2-font-size)

.body1
    font-family $body1-font-family
    font-weight $body1-font-weight
    font-size fnRemFontSize($body1-font-size)
    text-transform $body1-text-transform
    letter-spacing fnLetterSpacing($body1-letter-spacing, $body1-font-size)

.body2
    font-family $body2-font-family
    font-weight $body2-font-weight
    font-size fnRemFontSize($body2-font-size)
    text-transform $body2-text-transform
    letter-spacing fnLetterSpacing($body2-letter-spacing, $body2-font-size)

$button-typography
    font-family $button-font-family
    font-weight $button-font-weight
    font-size fnRemFontSize($button-font-size)
    text-transform $button-text-transform
    letter-spacing fnLetterSpacing($button-letter-spacing, $button-font-size)

.caption
    font-family $caption-font-family
    font-weight $caption-font-weight
    font-size fnRemFontSize($caption-font-size)
    text-transform $caption-text-transform
    letter-spacing fnLetterSpacing($caption-letter-spacing, $caption-font-size)

.overline
    font-family $overline-font-family
    font-weight $overline-font-weight
    font-size fnRemFontSize($overline-font-size)
    text-transform $overline-text-transform
    letter-spacing fnLetterSpacing($overline-letter-spacing, $overline-font-size)
