// TYPOGRAPHY

$base-font-size = 16px
$font-family = 'Roboto', sans-serif
$font-weight-light = 300
$font-weight-regular = 400
$font-weight-medium = 500

$h1 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-light,
	fontSize: 96px,
	textTransform: none,
	letterSpacing: -1.5px,
	capHeight: 0.65625,
}

$h2 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-light,
	fontSize: 60px,
	textTransform: none,
	letterSpacing: -0.5px,
	capHeight: 0.66667,
}

$h3 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 48px,
	textTransform: none,
	letterSpacing: 0px,
	capHeight: 0.72917,
}

$h4 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 34px,
	textTransform: none,
	letterSpacing: 0.25px,
	capHeight: 0.73529,
}

$h5 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 24px,
	textTransform: none,
	letterSpacing: 0px,
	capHeight: 0.75,
}

$h6 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-medium,
	fontSize: 20px,
	textTransform: none,
	letterSpacing: 0.15px,
	capHeight: 0.7,
}

$subtitle1 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 16px,
	textTransform: none,
	letterSpacing: 0.15px,
	capHeight: 0.75
}

$subtitle2 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-medium,
	fontSize: 14px,
	textTransform: none,
	letterSpacing: 0.1px,
	capHeight: 0.71429
}

$body1 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 16px,
	textTransform: none,
	letterSpacing: 0.5px,
	capHeight: 0.75
}

$body2 = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 14px,
	textTransform: none,
	letterSpacing: 0.25px,
	capHeight: 0.78571
}

$button = {
	fontFamily: $font-family,
	fontWeight: $font-weight-medium,
	fontSize: 14px,
	textTransform: uppercase,
	letterSpacing: 1.25px,
	capHeight: 0.71429
}

$caption = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 12px,
	textTransform: none,
	letterSpacing: 0.4px,
	capHeight: 0.75
}

$overline = {
	fontFamily: $font-family,
	fontWeight: $font-weight-regular,
	fontSize: 10px,
	textTransform: uppercase,
	letterSpacing: 1.5px,
	capHeight: 0.8
}
