// TYPOGRAPHY

$font-ratio = 0.0625rem
$font-family = 'Roboto', sans-serif
$font-weight-light = 300
$font-weight-regular = 400
$font-weight-medium = 500

$h1-font-family = $font-family
$h1-font-weight = $font-weight-light
$h1-font-size = 96
$h1-text-transform = none
$h1-letter-spacing = -1.5

$h2-font-family = $font-family
$h2-font-weight = $font-weight-light
$h2-font-size = 60
$h2-text-transform = none
$h2-letter-spacing = -0.5

$h3-font-family = $font-family
$h3-font-weight = $font-weight-regular
$h3-font-size = 48
$h3-text-transform = none
$h3-letter-spacing = 0

$h4-font-family = $font-family
$h4-font-weight = $font-weight-regular
$h4-font-size = 34
$h4-text-transform = none
$h4-letter-spacing = 0.25

$h5-font-family = $font-family
$h5-font-weight = $font-weight-regular
$h5-font-size = 24
$h5-text-transform = none
$h5-letter-spacing = 0

$h6-font-family = $font-family
$h6-font-weight = $font-weight-medium
$h6-font-size = 20
$h6-text-transform = none
$h6-letter-spacing = 0.15

$subtitle1-font-family = $font-family
$subtitle1-font-weight = $font-weight-regular
$subtitle1-font-size = 16
$subtitle1-text-transform = none
$subtitle1-letter-spacing = 0.15

$subtitle2-font-family = $font-family
$subtitle2-font-weight = $font-weight-medium
$subtitle2-font-size = 14
$subtitle2-text-transform = none
$subtitle2-letter-spacing = 0.1

$body1-font-family = $font-family
$body1-font-weight = $font-weight-regular
$body1-font-size = 16
$body1-text-transform = none
$body1-letter-spacing = 0.5

$body2-font-family = $font-family
$body2-font-weight = $font-weight-regular
$body2-font-size = 14
$body2-text-transform = none
$body2-letter-spacing = 0.25

$button-font-family = $font-family
$button-font-weight = $font-weight-medium
$button-font-size = 14
$button-text-transform = uppercase
$button-letter-spacing = 1.25

$caption-font-family = $font-family
$caption-font-weight = $font-weight-regular
$caption-font-size = 12
$caption-text-transform = none
$caption-letter-spacing = 0.4

$overline-font-family = $font-family
$overline-font-weight = $font-weight-regular
$overline-font-size = 10
$overline-text-transform = uppercase
$overline-letter-spacing = 1.5
